@font-face {
  font-family: 'Arsenal';
  src: url("../../fonts/ArsenalBold.eot");
  /* IE9 Compat Modes */
  src: url("../../fonts/ArsenalBold.eot?#iefix") format("embedded-opentype"), url("../../fonts/ArsenalBold.woff") format("woff"), url("../../fonts/ArsenalBold.ttf") format("truetype");
  /* Safari, Android, iOS */ }
html {
  overflow-y: scroll;
  overflow-x: auto; }

body {
  margin: 0;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0;
  display: block; }

div, p, form, input, span, button {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: bold; }



.container {
  margin: 0 auto; }

.d-flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex; }

.flex-jc-sb {
  justify-content: space-between; }

.long-line {
  border-bottom: 1px solid #191919;
  padding: 0;
  margin: 0; }

.modal {
  overflow-y: auto; }

.register-modal-label {
  max-width: 970px; }

.register-modal-start {
  padding: 60px 200px;
  background: #F9F9F9;
  border-radius: 15px; }

.register-modal__header, .login-modal__header {
  font-family: Arsenal;
  font-style: normal;
  font-size: 36px;
  line-height: 140%;
  /* or 50px */
  text-align: center;
  color: #191919; }

.register-modal__type-container {
  margin: 60px 0; }

.register-modal__type-block {
  width: 170px;
  height: 170px;
  padding: 35px 0 26px;
  background: #FFFFFF;
  border-radius: 15px;
  cursor: pointer; }

.register-modal__type-checked {
  box-shadow: 0px -1px 30px rgba(0, 0, 0, 0.06); }
  .register-modal__type-checked .register-modal__type-img, .register-modal__type-checked .register-modal__type-text {
    opacity: 1; }

.register-modal__type-img, .register-modal__type-text {
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 0.3; }

.register-modal__type-text {
  padding-top: 25px;
  font-family: Arsenal, sans-serif;
  font-style: normal;
  font-size: 20px;
  line-height: 140%;
  /* identical to box height, or 28px */
  color: #191919; }

.register-modal__btn-container, .login-modal__btn-container {
  margin: 0 auto;
  width: 270px;
  height: 60px;
  background: #191919;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  border: 0; }
  .register-modal__btn-container input, .register-modal__btn-container a, .register-modal__btn-container a:hover, .register-modal__btn-container a:visited, .login-modal__btn-container input, .login-modal__btn-container a, .login-modal__btn-container a:hover, .login-modal__btn-container a:visited {
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none; }
  .register-modal__btn-container input, .login-modal__btn-container input {
    background: inherit;
    width: inherit;
    height: inherit;
    border: inherit;
    border-radius: inherit; }

.register-modal-finish {
  padding: 60px 100px; }

.register-modal__form-container, .login-modal__form-container {
  margin-top: 60px;
  flex-wrap: wrap; }
  .register-modal__form-container .register-modal__btn-container, .login-modal__form-container .register-modal__btn-container {
    margin-top: 30px; }

.register-modal__form-input, .login-modal__form-input {
  width: 370px;
  height: 62px;
  padding: 20px 0 20px 20px;
  background: #F9F9F9;
  border: 1px solid rgba(25, 25, 25, 0.03);
  box-sizing: border-box;
  border-radius: 5px;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #191919;
  margin-bottom: 30px; }

.register-modal__form-input__invite {
  display: none;
  width: 770px; }

.login-modal {
  padding: 60px 100px 112px; }

.login-modal__after {
  position: absolute;
  margin-top: 30px;
  margin-left: -15px; }

.login-modal__after-text, .login-modal__after-href {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #BABABA; }

.login-modal__after-href, .login-modal__after-href:hover {
  text-decoration: none;
  color: #191919; }

@media screen and (max-width: 1170px) {
  .register-modal-label, .login-modal-label {
    width: 290px;
    margin: 5% auto; }

  .register-modal-start, .register-modal-finish, .login-modal {
    padding: 30px 20px 40px; }

  .register-modal__header, .login-modal__header {
    font-size: 24px; }

  .register-modal__form-input, .login-modal__form-input {
    width: 250px;
    height: 52px;
    padding: 15px 0 15px 15px; }

  .register-modal__form-container, .login-modal__form-container {
    margin-top: 30px; }

  .register-modal__btn-container, .login-modal__btn-container {
    width: 250px;
    height: 42px; }

  .register-modal__type-container {
    flex-wrap: wrap;
    margin: 60px 0 30px; }

  .register-modal__type-block {
    width: 250px;
    height: 60px;
    padding: 15px 0 15px 16.5px;
    margin-bottom: 20px; }

  .register-modal__type-img, .register-modal__type-text {
    margin: 0; }

  .login-modal__after {
    position: relative;
    text-align: center; }

  .login-modal__after-text, .login-modal__after-href {
    font-size: 14px;
    margin: 0; }

  .register-modal__type-block {
    display: flex; }

  .register-modal__type-text {
    font-size: 16px;
    padding-top: 6px; } }
.container {
  padding: 0;
  max-width: 1170px; }

@media screen and (max-width: 1170px) {
  .container {
    max-width: 290px; } }
.header {
  border-bottom: 1px solid #191919;
  padding: 30px 0;
  margin-bottom: 60px; }

.header-logo img {
  position: absolute; }

.header-btn {
  border: 1px solid #191919;
  box-sizing: border-box;
  border-radius: 5px;
  width: 303px;
  height: 50px; }

.header-btn__register, .header-btn__login {
  display: block;
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 140%;
  text-align: center;
  font-weight: 600; }

.header-btn__register {
  width: 173px; }

.header-btn__login {
  background: #191919;
  width: 130px;
  font-weight: bold; }

.header-btn__register a, .header-btn__login a {
  text-decoration: none;
  position: relative;
  top: 25%; }

.header-btn__register a, .header-btn__register a:hover {
  color: #191919; }

.header-btn__login a, .header-btn__login a:hover {
  color: #FFFFFF; }

@media screen and (max-width: 1170px) {
  .header-btn {
    width: 190px;
    height: 41px; }

  .header-btn__register, .header-btn__login {
    font-size: 13px; }

  .header-btn__login {
    background: #191919;
    width: 90px; }

  .header-btn__register {
    width: 100px; }
    .header-btn__register a {
      left: 0; }

  .header {
    padding: 15px 0;
    margin-bottom: 30px; }

  .header-logo img {
    width: 90px; } }
.slide {
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 15px; }

.bx-wrapper {
  margin-bottom: 0;
  padding: 2.5px 0; }

.bx-wrapper .bx-pager {
  bottom: -50px;
  width: auto;
  position: relative;
  margin-bottom: -30px; }

.bx-wrapper .bx-pager.bx-default-pager a {
  width: 12px;
  height: 12px;
  opacity: 0.1;
  border-radius: 100px;
  background: #191919; }

.bx-wrapper .bx-pager.bx-default-pager a.active {
  width: 16px;
  height: 16px;
  opacity: 1; }

.bx-wrapper .bx-prev, .bx-wrapper .bx-prev a:hover, .bx-wrapper .bx-prev a:visited {
  background: url("../img/controls/prev.svg") no-repeat;
  left: -35px; }

.bx-wrapper .bx-next {
  background: url("../img/controls/next.svg") no-repeat;
  right: -55px; }

.slide-header, .slide-text {
  color: #191919;
  font-style: normal; }

.slide-header {
  font-family: Arsenal, sans-serif;
  font-size: 25px;
  line-height: 140%;
  padding-bottom: 20px; }

.slide-text {
  font-family: Open Sans, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  opacity: 0.6; }

.main-slider {
  padding-bottom: 116px; }

.main-slider__details {
  display: none; }

@media screen and (max-width: 1270px) {
  .bx-controls-direction {
    display: none; } }
@media screen and (max-width: 1170px) {
  .slide-header {
    font-size: 16.5px;
    padding-bottom: 15px; }

  .slide-text {
    font-size: 14px; }

  .slide {
    text-align: center;
    padding: 20px; }

  .main-slider {
    padding-bottom: 86px; }

  .bx-wrapper .bx-pager {
    bottom: -80px; }

  .main-slider__details {
    display: block;
    text-align: center;
    margin-top: 15px; }
    .main-slider__details a, .main-slider__details a:hover {
      font-family: Open Sans, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 160%;
      /* or 22px */
      text-align: center;
      text-decoration-line: underline;
      color: #191919; } }
.main-blog {
  padding: 90px 0 100px; }

.main-blog__header {
  font-family: Arsenal, sans-serif;
  font-style: normal;
  font-size: 36px;
  line-height: 140%;
  text-align: center;
  color: #191919; }

.main-blog__blocks {
  margin: 60px 0; }

.block-container {
  box-shadow: 0px -1px 30px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  width: 370px; }

.block-container__img {
  width: inherit;
  height: 250px; }

.block-container__text-container {
  padding: 0 15px 0 15px; }

.block-container__header {
  font-family: Arsenal, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
  color: #191919;
  padding: 15px 0 10px; }

.block-container__text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  /* or 22px */
  color: #191919;
  opacity: 0.6; }

.block-container__after {
  padding: 15px 0 20px; }

.block-container__after-details, .block-container__after-details:hover {
  font-family: Arsenal, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  color: #191919;
  text-decoration: none; }

.block-container__after-date {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  color: #191919;
  opacity: 0.6; }

.main-blog__bth-container {
  justify-content: center; }

.main-blog__btn {
  background: #191919;
  border-radius: 5px;
  width: 230px;
  height: 47px;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .main-blog__btn .main-blog__btn-link, .main-blog__btn .main-blog__btn-link:hover {
    bottom: 25%;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 140%;
    color: #FFFFFF;
    text-decoration: none; }

@media screen and (max-width: 1170px) {
  .header {
    margin-bottom: 20px; }

  .main-blog__header {
    font-size: 24px; }

  .main-blog {
    padding: 30px 0 60px; }

  .main-blog__btn {
    width: 150px;
    height: 47px; }
    .main-blog__btn .main-blog__btn-link, .main-blog__btn .main-blog__btn-link:hover {
      font-size: 12px; }

  .main-blog__blocks {
    margin: 30px 0 40px; }

  .block-container__img {
    width: inherit;
    height: 200px; }

  .block-container {
    width: 290px; }

  .block-container:not(:first-child) {
    display: none; }

  .block-container__header {
    font-size: 14px; }

  .block-container__text {
    font-size: 12px; } }
.footer {
  background: #191919;
  width: 100%; }

.footer-links__list {
  padding: 40px 0;
  list-style-type: none; }
  .footer-links__list .footer-links__list-item {
    font-family: Arsenal, sans-serif;
    font-style: normal;
    text-align: center;
    padding: 20px 0; }
    .footer-links__list .footer-links__list-item a, .footer-links__list .footer-links__list-item a:hover {
      text-decoration: none;
      color: #FFFFFF;
      font-size: 18px;
      line-height: 140%; }

.footer-icons__list {
  list-style-type: none;
  text-align: center; }
  .footer-icons__list .footer-icons__list-item {
    padding: 0 13.5px;
    display: inline; }
    .footer-icons__list .footer-icons__list-item a {
      display: inline-block; }

.footer-copyright {
  background: rgba(255, 255, 255, 0.05);
  padding: 19px; }
  .footer-copyright .footer-copyright__text {
    text-align: center; }
    .footer-copyright .footer-copyright__text span {
      font-style: normal;
      font-size: 14px;
      line-height: 160%;
      font-family: Open Sans, sans-serif;
      color: #FFFFFF; }

@media screen and (max-width: 1270px) {
  .footer-links {
    padding-bottom: 120px; }

  .footer-copyright {
    padding: 0; }

  .footer-copyright__text {
    padding-top: 15px; }

  .footer-copyright-container {
    display: inherit !important; }

  .footer-links__list {
    display: inherit !important; }

  .footer-icons {
    position: relative;
    bottom: 160px; } }

/*# sourceMappingURL=index.css.map */
.block-container img {
    border-radius: 15px 15px 0 0 !important;
}
