@font-face {
  font-family: "Arsenal";
  src: url(/fonts/ArsenalBold.eot?141339429c6b71f2b48db7dc93658303);
  /* IE9 Compat Modes */
  src: url(/fonts/ArsenalBold.eot?141339429c6b71f2b48db7dc93658303) format("embedded-opentype"), url(/fonts/ArsenalBold.woff?adce3c25e2d96586258a0defcfebf4ef) format("woff"), url(/fonts/ArsenalBold.ttf?d3e7203142cb1c5f4c54370f814ea93f) format("truetype");
  /* Safari, Android, iOS */
}

html {
  overflow-y: scroll;
  overflow-x: auto;
}

body {
  margin: 0;
  padding: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  display: block;
}

div,
p,
form,
input,
span,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.container {
  margin: 0 auto;
}

.d-flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.flex-jc-sb {
  justify-content: space-between;
}

.long-line {
  border-bottom: 1px solid #191919;
  padding: 0;
  margin: 0;
}

.aside {
  width: 24.4%;
  height: 100%;
  float: left;
  margin-left: none;
  background: #FFFFFF;
  position: fixed;
}

.aside-container {
  width: 240px;
  margin: 0 auto;
}

.aside-header-mobile {
  display: none !important;
}

.aside-header-normal {
  display: flex !important;
  align-items: center;
}

.aside-header-container {
  padding: 15px 0 55px;
}

.aside-header {
  height: 50px;
  border-radius: 10px;
  background: #F9F9F9;
}

.aside-header__user-name {
  font-family: Arsenal, sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #191919;
  font-size: 16px;
  line-height: 140%;
  margin: 10px;
}

.aside-header {
  padding: 0 14px 0 10px;
}

.aside-links__element {
  margin-bottom: 40px;
  text-decoration: none;
  opacity: 0.4;
  display: block;
}

.aside-links__element:hover {
  text-decoration: none;
}

.aside-links-active {
  opacity: 1;
}

.aside-links-active:after {
  position: absolute;
  display: block;
  margin-top: -35px;
  margin-left: 30.5ch;
  content: " ";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 25px 21px 25px 0;
  border-color: transparent #f9f9f9 transparent transparent;
}

.aside-links__element-text {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #191919;
  font-size: 13px;
  line-height: 160%;
  padding-left: 15px;
  text-transform: uppercase;
}

@media screen and (max-width: 1170px) {
  .aside {
    width: 80%;
    background: #FFFFFF;
    z-index: 2;
    margin-left: -5000px;
    transition: 0.5s;
  }

  .aside-header-mobile {
    display: flex !important;
    padding: 0;
  }

  .aside-header-normal {
    display: none !important;
  }

  .aside-container {
    width: 90.75%;
    margin: 0 auto;
  }

  .aside-header {
    background: transparent;
  }

  .aside-header_close {
    margin-top: 7px;
  }

  .aside-links-active:after {
    display: none;
  }
}

.nav-head {
  background: #FFFFFF;
  width: 75.6%;
  float: right;
}

.nav-head-container {
  width: 870px;
  margin: 0 auto;
  padding: 15px 0;
}

.nav-head-right,
.nav-head-right__input-container {
  align-items: center;
}

.nav-head-right__input-container {
  display: flex;
}

.nav-head-right__input-container .input-field {
  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #191919;
  font-size: 14px;
  line-height: 160%;
  padding: 14px 45px 14px 14px;
  width: 308px;
  height: 50px;
  background: #F9F9F9;
  border-radius: 10px;
  border: 0;
}

.nav-head-right__input-container .input-search {
  margin-left: -40px;
}

.nav-head-right__btn-container {
  margin-left: 70px;
}

.nav-head-right__btn-container .btn-href:nth-child(2) {
  padding: 0 30px;
}

@media screen and (max-width: 1170px) {
  .nav-head {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    float: none;
  }

  .nav-head-container {
    width: 90%;
  }

  .nav-head-right__input-container {
    display: none;
  }

  .nav-head-right__btn-container .btn-href:not(:nth-child(2)) {
    display: none;
  }

  .nav-head-right__btn-container {
    margin: 0;
  }
}

.main {
  background: #f9f9f9;
  width: 75.6%;
  float: right;
}

.main-container {
  width: 870px;
  margin: 0 auto;
  height: 100%;
  padding: 30px 0;
}

@media screen and (max-width: 1170px) {
  .main {
    float: none;
    width: 100%;
    height: 100%;
    margin-bottom: 45px;
  }

  .main-container {
    padding-top: 15px;
    width: 90%;
  }

  .slider {
    overflow-x: scroll;
    white-space: nowrap;
  }

  .slider div {
    display: inline-block;
  }
}

.black-btn {
  background: #191919;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  text-align: center;
  color: #FFFFFF;
  display: block;
}

.white-btn {
  border: 1px solid black;
  color: #191919;
  border-radius: 10px;
  text-align: center;
  background: #FFFFFF;
  display: block;
  font-weight: 600;
  font-size: 14px;
}

.white-block {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
}

.heading {
  font-family: Arsenal, sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 140%;
}

.nav-bottom {
  display: none;
}

@media screen and (max-width: 1170px) {
  .nav-bottom {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    display: block;
    position: fixed;
    bottom: 0;
  }

  .nav-bottom-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px 0;
  }

  .nav-bottom__link,
  .nav-bottom__link:hover {
    text-align: center;
    font-family: Open Sans, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #191919;
    font-size: 10px;
    line-height: 160%;
    text-decoration: none;
  }

  .nav-bottom__link .nav-bottom__link-text,
  .nav-bottom__link:hover .nav-bottom__link-text {
    margin-top: 4px;
    opacity: 0.4;
  }
}

body {
  background: #f9f9f9;
}

#back-background {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #191919;
  opacity: 0.2;
  display: none;
  z-index: 1;
}


/* ----------------- Chat CSS --------------------- */

.chat-container {
    display: flex;
    justify-content: space-between;
}
.chat-lists__header-input,
.credentails-text__time,
.conversation-last_msg
{
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
}
.chat-lists {
    border-radius: 10px;
    width: 30%;
}
.chat-lists__header {
    padding: 15px;
    position: relative;
}
.chat-lists__header-input {
    display: flex;
    align-items: center;
    padding: 0 40px 0 10px;
    color: #191919;
    background: #F9F9F9;
    border-radius: 5px;
    border: 0;
    height: 40px;
    width: 100%;
}
.chat-lists__header-search {
    position: absolute;
    top: 35%;
    right: 10%;
}
.chat-lists__container{
    padding-top: 8px;
    max-height: 558px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.chat-lists__container::-webkit-scrollbar {
    width: 6px;
    background: rgba(25, 25, 25, 0.05);
    border-radius: 10px;
    margin-right: 5px;
}
.chat-lists__container::-webkit-scrollbar-thumb {
    background: #191919;
    border-radius: 10px;
}
.conversation-block {
    width: 100%;
    height: 123px;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.conversation-block .credentails-text__name {
    color: #191919;
}
.conversation-block-active {
    background: #F9F9F9;
}
.credentails-text {
    position: relative;
    margin-left: 16px;
}
.credentails-text .credentails-text__name {
    display: block;
}
.credentails-text__name {
    font-size: 17px;
    padding-bottom: 4px;
}
.credentails-text__time, .conversation-last_msg {
    color: #AFB2B5;
}
.conversation-last_msg {
    margin-top: 20px;
    display: block;
}
.credentails-unread {
    position: absolute;
    right: -15%;
    top: 5%;
}
.conversation-line {
    display: block;
}
.chat-box-container {
    width: 65.5%;
}
@media screen and (max-width: 1170px) {
    .chat-lists {
        width: 100%;
        border-radius: 0;
    }
    .chat-lists__container {
        max-height: none;
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .chat-box-container {
        width: 100%;
        position: fixed;
    }
}

.chat-box {
    padding-bottom: 15px;
    max-height: 628px;
}
.chat-box-header {
    padding: 15px;
}
.header-credentails__prev {
    display: none;
    margin-right: 15px;
}
.header-credentails__name {
    margin-left: 15px;
    font-size: 17px;
}
.header-actions{
    width: 156px;
    align-items: center;
}
.header-actions__block {
    width: 38px;
    height: 38px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #F9F9F9;
    border-radius: 5px;
}
.chat-box-line {
    margin: 0;
    padding: 0;
}
.chat-box-field {
    padding: 30px 16px;
}
.chat-box-field-container {
    overflow-y: scroll;
    height: 450px;
}
.chat-box-field-container::-webkit-scrollbar {
    width: 6px;
    background: rgba(25, 25, 25, 0.05);
    border-radius: 10px;
    margin-right: 5px;
}
.chat-box-field-container::-webkit-scrollbar {
    background: #191919;
    border-radius: 10px;
}
.chat-box-date{
    font-size: 16px;
    margin: 0 auto;
    display: block;
    text-align: center;
}
.chat-box-message {
    border-radius: 10px;
    margin: 15px;
    max-width: 65%;
}
.message-text__header {
    align-items: center;
}
.message-text__header-credentails span,
.message-text__header-name,
.message-text-container,
.box-footer__input-field {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
    color: #191919;
    opacity: 0.4;
}
.message-text__header-name {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    opacity: 1;
}
.message-text-container {
    font-size: 13px;
    line-height: 18px;
}
.message-photo {
    padding: 0 15px;
}
.message-own {
    background: #f4f4f4;
    margin-left: auto;
    padding: 15px 5px 15px 15px;
}
.message-opponent {
    background: #dddddd;
    margin-right: auto;
    padding: 15px 15px 15px 5px;
}
.chat-box-footer {
    height: 45px;
    padding: 10px 13px;
    background: #f4f4f4;
    border-radius: 5px;
    margin: 15px;
}
.box-footer__input {
    width: 75%;
}
.box-footer__input-field {
    padding-left: 13px;
    opacity: 1;
    font-size: 14px;
    line-height: 17px;
    border: 0;
    border-left: 1px solid #dedede;
    background: transparent;
    width: 100%;
}
.box-footer__input-clip{
    margin-right: 13px;
}
.box-footer__send-plane {
    padding-left: 13px;
    border-left: 1px solid #dedede;
}
.box-footer__send-smile {
    padding-right: 13px;
}
@media screen and (max-width: 1170px) {
    .box{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .chat-box, .box-container{
        max-height: none;
        height: 100%;
    }
    .header-credentails__prev {
        display: block;
    }
    .header-credentails {
        display: flex;
        align-items: center;
    }
    .chat-box-field-container {
        height: 70%;
    }
    .header-credentails__img {
        width: 40px;
        height: 40px;
    }
    .header-credentails__name {
        font-size: 14px;
    }
    .header-actions-search {
        display: none;
    }
    .header-actions__block {
        width: 34px;
        height: 34px;
    }
    .header-actions {
        width: 83px;
    }
    .chat-box-date {
        font-size: 14px;
    }
    .message-photo, .message-text__header-name {
        display: none;
    }
    .message-text__header-credentails span{
        font-size: 13px;
    }
    .message-own, .message-opponent{
        padding: 15px;
    }
}

.flow_links-menu {
    padding: 15px;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow-x: scroll;
    /*-ms-overflow-style: none;  !* IE 10+ *!*/
    /*scrollbar-width: none; !* Firefox *!*/
    /*-ms-overflow-style: none;*/
    /*overflow: -moz-scrollbars-none;*/
}
/*.flow_links-menu::-webkit-scrollbar {*/
/*    width: 0;*/
/*    display: none;*/
/*}*/
.flow_links-menu__btn {
    text-align: center;
    cursor: pointer;
    display: inline-block;
    margin-right: 15px;
    width: 170px;
    height: 52px;
    background: #F9F9F9;
    text-decoration: none;
}
.flow_links-menu__btn span {
    font-family: Arsenal;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */
    color: #191919;
    opacity: 0.4;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
}
.flow_links-menu__btn-active {
    background: #191919;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.03);
}
.flow_links-menu__btn-active span {
    opacity: 1;
    color: #fff;
}
@media screen and (max-width: 1170px) {
    .flow_links-menu {
        padding: 10px;
        margin-bottom: 15px;
        display: block;
    }
    .flow_links-menu__btn {
        width: 115px;
        height: 38px;
        margin-right: 10px;
        border-radius: 5px;
    }
    .flow_links-menu__btn span {
        font-size: 13px;
        vertical-align: sub;
        margin: 0;
    }
}

.modal-content {
    border: 0;
}
.materials-modal-header, .materials-modal-small-header {
    font-family: "Arsenal", sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 140%;
    color: #191919;
}
.materials-modal-header {
    font-size: 26px;
    text-align: center;
}
.materials-modal-small-header {
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
}
.materials-modal-small-header-task {
    font-size: 16px;
    text-align: center;
    margin-bottom: 5px;
}
.materials-modal-input, .materials-modal-file, .materials-modal-textarea {
    width: 100%;
    padding: 20px;
    background: #F9F9F9;
    border: 1px solid rgba(25, 25, 25, 0.03);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #191919;
}
.materials-modal-file {
    width: 270px;
}
.materials-modal-block-divided {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.materials-modal-block-divided .materials-modal-input {
    width: 60%;
}
.materials-modal-block-divided .materials-modal-material {
    width: 35%;
}
.materials-modal-material {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9F9F9;
    border-radius: 5px;
    cursor: pointer;
}
.materials-modal-material img {
    width: 24px;
    height: 22px;
}
.materials-modal-material span {
    margin-left: 15px;
    font-weight: normal;
    font-size: 16px;
}
.material-modal-addField {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 155px;
}
.material-modal-addField img {
    width: 24px;
    height: 22px;
}
.material-modal-addField span {
    margin-left: 15px;
}
.materials-modal-bottom-btn {
    width: 370px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.materials-modal-bottom-btn div {
    width: 170px;
    height: 47px;
    padding: 10px;
    cursor: pointer;
}
@media screen and (max-width: 1170px) {
    .materials-modal-bottom-btn {
        width: auto;
        flex-wrap: wrap;
    }
    .materials-modal-bottom-btn div {
        margin-bottom: 15px;
        width: 100%;
    }
    .modal-dialog {
        min-width: 90% !important;
    }
    .modal-content {
        padding: 25px 25px !important;
    }
    .materials-modal-block-divided .materials-modal-input, .materials-modal-block-divided .materials-modal-material {
        width: 100%;
        margin-top: 15px;
    }
    .materials-modal-block-divided .materials-modal-material {
        height: 50px;
    }
}

.materials-links {
    margin-bottom: 30px;
}
@media screen and (max-width: 1170px) {
    .materials-links {
        padding: 10px;
    }
}

.courses-title {
    font-size: 22px;
    /* identical to box height, or 31px */
    color: #191919;
    padding-bottom: 20px;
}
.courses-container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.courses-block, .course-block-add {
    padding: 15px 10px 15px 15px;
    height: 78px;
    width: 270px;
    margin-bottom: 30px;
}
.courses-block__text-header {
    font-size: 16px;
}
.courses-block__text {
    display: grid;
}
.courses-block__text-details {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: #191919;
    opacity: 0.4;
}
.course-block-add {
    border-radius: 10px;
    background: transparent;
    border: 1.5px dashed #e3e3e3;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 1170px) {
    .courses-title {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .courses-block__text-header {
        font-size: 14px;
    }
    .courses-block__text-details {
        font-size: 11px;
    }
    .courses-block, .course-block-add {
        margin-bottom: 15px;
        width: 100%;
    }
}

#addFileModal .modal-dialog {
    min-width: 970px;
}
.addFile-modal-label .modal-content {
    padding: 50px 100px;
}
.addFile-modal__header {
    padding-bottom: 30px;
}
.addFile-modal__form-block {
    padding-bottom: 30px;
}

#editFileModal .modal-dialog {
    min-width: 570px;
}
.editFile-modal-label .modal-content {
    padding: 50px 100px;
}
.editFile-modal__header {
    padding-bottom: 30px;
}
.editFile-modal__form-block {
    padding-bottom: 30px;
}

.files-title {
    font-size: 22px;
    /* identical to box height, or 31px */
    color: #191919;
    padding-bottom: 20px;
}
.files-container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.files-block {
    align-items: center;
}
.files-block, .course-block-add {
    padding: 15px 10px 15px 15px;
    height: 78px;
    width: 270px;
    margin-bottom: 30px;
}
.files-block__text {
    display: grid;
}
.file-block__text-container {
    margin-left: 17.25px;
}
.text-header {
    font-size: 16px;
}
.text-details {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: #191919;
    opacity: 0.4;
}
.course-block-add {
    border-radius: 10px;
    background: transparent;
    border: 1.5px dashed #e3e3e3;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 1170px) {
    .files-title {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .file-block__text-container {
        margin-left: 12.12px;
    }
    .text-header {
        font-size: 14px;
    }
    .text-details {
        font-size: 11px;
    }
    .files-block, .course-block-add {
        margin-bottom: 15px;
        width: 100%;
    }
}

.modal-tags-field {
    background: #F9F9F9;
    border: 1px solid rgba(25, 25, 25, 0.03);
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    height: 75px;
    padding: 14px;
    overflow-y: auto;
}
.modal-tags-field input, .modal-tags-field input:hover {
    border: 0;
    background: transparent;
    height: 100%;
    width: 200px;
}
.modal-tags-field .tag {
    background: black;
    border-radius: 3px;
    color: white;
    padding: 8px 12px;
    margin-right: 14px;
}
.modal-tags-field .remove {
    cursor: pointer;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}


#showPictureModal .modal-dialog {
    min-width: 830px;
}
#showPictureModal .modal-content {
    padding: 0 !important;
}
.showPicture-modal__img {
    width: 100%;
    height: 500px;
    border-top-right-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
}
.showPicture-modal-text {
    padding: 20px 30px;
}
.modal-text__title {
    font-family: "Arsenal";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 140%;
    color: #191919;
}
.modal-text__desc {
    padding-top: 5px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    /* or 22px */
    color: #191919;
}
@media screen and (max-width: 1170px) {
    .showPicture-modal-label {
        margin-top: 5vh;
    }
    #showPictureModal .modal-dialog {
        min-width: 85%;
    }
    .showPicture-modal__img {
        height: auto;
    }
}

#addPictureModal .modal-dialog {
    min-width: 970px;
}
.addPicture-modal-label .modal-content {
    padding: 50px 100px;
}
.addPicture-modal__header {
    padding-bottom: 30px;
}
.addPicture-modal__form-block {
    padding-bottom: 30px;
}

#editPictureModal .modal-dialog {
    min-width: 570px;
}
.editPicture-modal-label .modal-content {
    padding: 50px 100px;
}
.editPicture-modal__header {
    padding-bottom: 30px;
}
.editPicture-modal__form-block {
    padding-bottom: 30px;
}

.pictures-title {
    font-size: 22px;
    /* identical to box height, or 31px */
    color: #191919;
    padding-bottom: 20px;
}
.pictures-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.pictures-block, .pictures-block-add {
    border-radius: 10px;
    width: 270px;
    min-height: 260px;
    margin-bottom: 30px;
}
.pictures-block .pictures-block__img, .pictures-block-add .pictures-block__img {
    width: 270px;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    cursor: pointer;
}
.pictures-block__text-container {
    padding: 10px 10px 10px 20px;
    align-items: center;
}
.pictures-block-add {
    background: transparent;
    border: 1.5px dashed #e3e3e3;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.pictures-block-add div {
    text-align: center;
}
.pictures-block-add span {
    display: block;
    width: 100%;
}
@media screen and (max-width: 1170px) {
    .pictures-block, .pictures-block-add {
        width: 240px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
    }
    .pictures-block .pictures-block__img, .pictures-block-add .pictures-block__img {
        width: 240px;
    }
    .pictures-block-add {
        text-align: center;
    }
    .pictures-block-add .pictures-block-add-container {
        margin-top: 90px;
    }
    .pictures-container {
        display: block;
        white-space: nowrap;
        overflow-x: auto;
    }
}

#addLinkModal .modal-dialog {
    min-width: 970px;
}
.addLink-modal-label .modal-content {
    padding: 50px 100px;
}
.addLink-modal__header {
    padding-bottom: 30px;
}
.addLink-modal__form-block {
    padding-bottom: 30px;
}

#editLinkModal .modal-dialog {
    min-width: 570px;
}
.editLink-modal-label .modal-content {
    padding: 50px 100px;
}
.editLink-modal__header {
    padding-bottom: 30px;
}
.editLink-modal__form-block {
    padding-bottom: 30px;
}

.links-title {
    font-size: 22px;
    /* identical to box height, or 31px */
    color: #191919;
    padding-bottom: 20px;
}
.links-container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.links-block, .link-block-add {
    padding: 15px 10px 15px 15px;
    min-height: 78px;
    width: 270px;
    margin-bottom: 30px;
}
.links-block__text-header {
    font-size: 16px;
}
.links-block__text {
    display: grid;
    word-break: break-all;
    width: 80%;
}
.links-block__text-details {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: #191919;
    opacity: 0.4;
}
.link-block-add {
    border-radius: 10px;
    background: transparent;
    border: 1.5px dashed #e3e3e3;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
@media screen and (max-width: 1170px) {
    .links-title {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .links-block__text-header {
        font-size: 14px;
    }
    .links-block__text-details {
        font-size: 11px;
    }
    .links-block, .link-block-add {
        margin-bottom: 15px;
        width: 100%;
    }
}

#addCourseModal .modal-dialog {
    min-width: 970px;
}
.addCourse-modal__header, .addCourse-modal__form {
    padding: 0 100px;
}
.addCourse-modal-label .modal-content {
    padding: 50px 0;
}
.addCourse-modal__header {
    padding-bottom: 30px;
}
.addCourse-modal__form-block {
    padding-bottom: 30px;
}
.addCourse-modal-footer {
    margin-bottom: 50px;
    background: #191919;
    height: 47px;
}
.addCourse-modal-footer .modal-footer__container {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
}
.addCourse-modal-footer .modal-footer__container .footer-block span {
    font-size: 15px;
    margin-left: 15px;
    color: white;
}
.addCourse-modal-graph {
    background: #F9F9F9;
    padding: 30px 0;
}
@media screen and (max-width: 1170px) {
    .addCourse-modal__header, .addCourse-modal__form {
        padding: 0;
    }
    .addCourse-modal__header {
        margin-bottom: 25px;
    }
    .addCourse-modal-footer {
        height: auto;
        margin-top: 30px;
        border-radius: 15px;
    }
    .addCourse-modal-footer .modal-footer__container {
        flex-wrap: wrap;
        width: 90%;
    }
    .addCourse-modal-footer .modal-footer__container .footer-block {
        padding: 10px;
        width: auto;
    }
    .addCourse-modal-footer .modal-footer__container .footer-block img {
        width: auto;
    }
    .addCourse-modal-footer .modal-footer__container .footer-block span {
        width: 60%;
        font-size: 18px;
    }
    .addCourse-modal-graph {
        border-radius: 10px;
        padding: 30px 10px;
    }
}

.courses-title {
    font-size: 22px;
    /* identical to box height, or 31px */
    color: #191919;
    padding-bottom: 20px;
}
.courses-container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.courses-block, .course-block-add {
    padding: 15px 10px 15px 15px;
    height: 78px;
    width: 270px;
    margin-bottom: 30px;
}
.courses-block__text-header {
    font-size: 16px;
}
.courses-block__text {
    display: grid;
}
.courses-block__text-details {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: #191919;
    opacity: 0.4;
}
.course-block-add {
    border-radius: 10px;
    background: transparent;
    border: 1.5px dashed #e3e3e3;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}
@media screen and (max-width: 1170px) {
    .courses-title {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .courses-block__text-header {
        font-size: 14px;
    }
    .courses-block__text-details {
        font-size: 11px;
    }
    .courses-block, .course-block-add {
        margin-bottom: 15px;
        width: 100%;
    }
}

.tasks-title {
    font-size: 22px;
    /* identical to box height, or 31px */
    color: #191919;
    padding-bottom: 21px;
}
.tasks-container {
    flex-wrap: wrap;
    justify-content: space-around;
}
.tasks-block, .tasks-block-add {
    padding: 15px;
    padding-top: 10px;
    width: 420px;
    margin-bottom: 30px;
}
.tasks-block__text-header__span-container {
    padding-top: 10px;
}
.tasks-block__text-header__span {
    font-size: 18px;
}
.tasks-block__text-header__span-id {
    font-size: 14px;
    line-height: 140%;
    opacity: 0.6;
    margin-left: 10px;
}
.tasks-block__desc-header {
    font-weight: bold;
}
.tasks-block__desc, .tasks-block__desc-header {
    font-size: 12px;
    line-height: 160%;
}
.tasks-block__desc, .tasks-block__details {
    font-size: 12px;
    opacity: 0.4;
}
.tasks-block__details {
    opacity: 1;
}
.tasks-block__line {
    margin: 10px 0;
}
.tasks-block-add {
    height: 176px;
    border-radius: 10px;
    background: transparent;
    border: 1.5px dashed #e3e3e3;
    font-size: 18px;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.tasks-block-add img {
    margin-right: 10px;
}
@media screen and (max-width: 1170px) {
    .tasks-title {
        font-size: 20px;
        padding-bottom: 15px;
    }
    .courses-block, .course-block-add {
        margin-bottom: 15px;
    }
    .tasks-block__text-header__span {
        font-size: 16px;
    }
    .tasks-block__text-header__span-id {
        font-size: 12px;
        margin-left: 5px;
    }
}

#addTaskModal .modal-dialog {
    min-width: 970px;
}
.addTask-modal-label .modal-content {
    padding: 50px 100px;
}
.addTask-modal__header {
    padding-bottom: 15px;
}
.addTask-modal__form-block {
    padding-bottom: 30px;
}
.addTask-modal-input {
    width: 470px;
    padding: 20px;
    background: #F9F9F9;
    border: 1px solid rgba(25, 25, 25, 0.03);
    box-sizing: border-box;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #191919;
}

.modal-materials-field {
    background: #F9F9F9;
    border: 1px solid rgba(25, 25, 25, 0.03);
    box-sizing: border-box;
    border-radius: 5px;
    align-items: center;
    height: 62px;
    padding: 14px;
}
.modal-materials-field .materials-container {
    overflow-y: auto;
}
.modal-materials-field .add {
    cursor: pointer;
    width: 34px;
    height: 34px;
    justify-content: space-around;
    background: #ededed;
    border-radius: 5px;
}
.modal-materials-field .add img {
    opacity: 0.5;
}
.modal-materials-field .material {
    background: black;
    border-radius: 3px;
    color: white;
    padding: 8px 12px;
    margin-right: 14px;
    font-weight: 600;
}
.modal-materials-field .material img {
    width: 20px;
    margin-right: 11px;
}
.modal-materials-field .remove {
    cursor: pointer;
    padding-left: 10px;
    font-size: 15px;
    font-weight: bold;
}
@media screen and (max-width: 1170px) {
    .materials-container {
        width: 80%;
    }
}

#material-modal-search {
    width: 80%;
}
.material-modal__search {
    width: 100%;
    border-radius: 0;
    height: 46px;
    padding: 10px 15%;
    margin-bottom: 5px;
}
.material-modal__search input {
    border: 0;
    background: transparent;
}
.material-modal__items {
    width: 100%;
    border-radius: 0;
    height: 330px;
    padding: 15px 15%;
    overflow-y: auto;
}
.material-modal__items .block {
    width: 370px;
    height: 78px;
    align-items: center;
    padding: 15px 20px;
    margin-bottom: 15px;
}
.material-modal__items .block .item-type {
    margin-right: 14px;
}
.material-modal__items .block .heading {
    font-size: 16px;
}
.material-modal__items .block .tags {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 160%;
    /* or 19px */
    color: #191919;
    opacity: 0.4;
}
.material-modal__items .block .tags span {
    padding: 0 3px;
}
.material-modal__items .block .control {
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: auto;
    justify-content: space-around;
    background: #F9F9F9;
    border-radius: 10px;
}
.material-modal__header {
    padding: 40px 0;
}
.material-modal-bottom {
    padding: 30px 0;
}
@media screen and (max-width: 1170px) {
    .material-modal__items {
        padding: 15px 5%;
    }
    .material-modal__items .block {
        width: 100%;
    }
}

